.title {
    bottom: 6%;
    left: 5%;
    font-size: 5rem;
    text-decoration: none;
    letter-spacing: -4px;
}

.web-dev-title {
    font-size: 7rem;
}

.title-box-logo {
    height: 20%;
    width: 10%;
    top: 5%;
    right: 5%;
    background: url();
}
